
#main-container{
	margin: 500px auto;
	width; 900px;
}
table {
	background-color: #FFFFFF;
	text-align: left;
	width: 100%;

}
th, td {
	
	padding: 20px;
}
thead {
	align: left;
	background-color: #000000;
	border-bottom: solid 5px #0F362D;
	color: white;
}
tr:nth-child(even) {
	background-color: #ddd;
}
a:link {
	color: #000000
}
a:visited {
	color: #00F
}